@model Inventory.DataAccess.TbCategory

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>TbCategory</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="CategoryName" class="control-label"></label>
                <input asp-for="CategoryName" class="form-control" />
                <span asp-validation-for="CategoryName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="CategoryDescription" class="control-label"></label>
                <input asp-for="CategoryDescription" class="form-control" />
                <span asp-validation-for="CategoryDescription" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="CreatedBy" class="control-label"></label>
                <input asp-for="CreatedBy" class="form-control" />
                <span asp-validation-for="CreatedBy" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="CreatedOn" class="control-label"></label>
                <input asp-for="CreatedOn" class="form-control" />
                <span asp-validation-for="CreatedOn" class="text-danger"></span>
            </div>

            <div>
                <label asp-for="IsActive" class="control-label"></label>
                <br /> <input type="radio" asp-for="IsActive" value="Yes" />Yes<br />
                <input type="radio" asp-for="IsActive" value="No" />No<br />
                <span asp-validation-for="IsActive" class="text-danger"></span>
            </div>

            <div>
                <label asp-for="IsDeleted" class="control-label"></label>
                <br /> <input type="radio" asp-for="IsDeleted" value="Yes" />Yes<br />
                <input type="radio" asp-for="IsDeleted" value="No" />No<br />
                <span asp-validation-for="IsDeleted" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="ModifiedBy" class="control-label"></label>
                <input asp-for="ModifiedBy" class="form-control" />
                <span asp-validation-for="ModifiedBy" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ModifiedOn" class="control-label"></label>
                <input asp-for="ModifiedOn" class="form-control" />
                <span asp-validation-for="ModifiedOn" class="text-danger"></span>
            </div>

    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-default" />
    </div>

    </form>
</div>
</div>


<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
